.git
.gitignore
.next
node_modules
coverage
playwright-report
test-results

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tests
image.png
README.md
.eslintrc.json
playwright.config.mjs
.DS_Store
